PORT=3000
DATABASE_URL=postgresql://root:root@localhost:5432/api_contact
JWT_SECRET=<gere com: openssl rand -base64 64>
JWT_ISSUER=api-contact
JWT_AUDIENCE=api-contact-clients
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
TRUST_PROXY=false
LOG_LEVEL=info
